.btn {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  border: 1px solid transparent;
  border-radius: 30px;
  display: inline-block;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
  }

  &-default {
    background-color: $grad-init;
    border-color: $grad-init;
    color: $light-color;

    &:hover {
      background-color: $primary-light;
      border-color: $primary-light;
      color: $light-color;
    }
  }

  &-primary {
    background-color: $buttons;
    border-color: $buttons;
    color: $light-color;

    &:visited,
    &:active,
    &:hover {
      background-color: black;
      color: $light-color;
    }
  }
}
