.modal {
  background-color: $modal-background-color;
  display: flex;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-100;

  &-card {
    background-color: white;
    border-radius: $s;
    left: 50%;
    max-width: 450px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-content {
    padding: $l;
  }

  .modal-btn {
    color: $light-color;
    font-weight: bold;
    padding: 16px;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &-cancel {
      background-color: #b8bece;
      border-radius: 0px 0px 0px 7px;
    }

    &-accept {
      background-color: #eb796f;
      border-radius: 0px 0px 7px 0px;
    }
  }

  .close {
    opacity: 0.3;
    position: absolute;
    right: $xl;
    top: $s;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &:before,
    &:after {
      background-color: #333;
      content: ' ';
      height: $m;
      left: $m;
      position: absolute;
      width: $xs;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}
