header {
  align-items: center;
  background: $nav-gradient;
  display: flex;
  justify-content: space-between;
  padding: $m;
  position: sticky;
  top: 0;
  z-index: 10;

  .brand {
    align-items: center;
    color: $light-color;
    display: flex;

    .logo {
      margin-right: $m;
      width: 86px;
    }

    .brand-text {

      @media (max-width: 413px) {
        display: none;
      }
    }

  }

  nav {
    font-size: $font-size;

    a,
    a:visited {
      color: $navbar-color;
      padding: 0 8px;
      text-decoration: none;
    }

    .active {
      color: $light-color;
    }
  }
}
